# Service Images & Tags
CCE_COLLECTOR_SERVICE_IMAGE=
CCE_COMPLIANCE_SERVICE_IMAGE=
OPENHIM_CCE_EMMITTER_ADAPTOR_IMAGE=
GATEWAY_SERVICE_IMAGE=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Kafka
KAFKA_NODE_ID=
KAFKA_PROCESS_ROLES=
KAFKA_CONTROLLER_QUORUM_VOTERS=
KAFKA_LISTENERS=
KAFKA_ADVERTISED_LISTENERS=
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=
KAFKA_CONTROLLER_LISTENER_NAMES=
KAFKA_INTER_BROKER_LISTENER_NAME=
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=
KAFKA_AUTO_CREATE_TOPICS_ENABLE=
CLUSTER_ID=

# Kafka UI
KAFKA_CLUSTERS_0_NAME=
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=

# Keycloak
KC_DB=
KC_DB_URL_HOST=
KC_DB_URL_PORT=
KC_DB_URL_DATABASE=
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_KEYCLOAK_ADMIN=
KC_KEYCLOAK_ADMIN_PASSWORD=
KC_HOSTNAME=
KC_PROXY=
KC_PROXY_HEADERS=
KC_HTTP_ENABLED=


# Gateway Service
POSTGRES_DB_URL=

GATEWAY_ALLOWED_ORIGINS=

ADMIN_SERVICE_URI=

JWT_ISSUER=
JWT_AUDIENCE=

SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_0_ID=
SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_0_URI=
SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_0_PREDICATES_0=
SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_0_FILTERS_0_NAME=
SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_1_ID=
SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_1_URI=
SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_1_PREDICATES_0=
SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_1_FILTERS_0_NAME=

KEYCLOAK_SERVER_URL=
KEYCLOAK_REALM=
KEYCLOAK_TARGET_REALM=
KEYCLOAK_ADMIN_CLIENT_ID=
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=

AUTHORIZATION_ENABLED=
LOAD_PERMISSIONS_FROM_DATABASE_ON_STARTUP=

# openhim-cce-emitter-adaptor
OPENHIM_CORE_HOST=
OPENHIM_USERNAME=
OPENHIM_PASSWORD=
CCE_COLLECTOR_URL=
CCE_COLLECTOR_AUTH_TOKEN=
EBUZIMA_CLIENT_ID=


# cce-collector-service
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=
SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=
SPRING_KAFKA_BOOTSTRAP_SERVERS=

# cce-compliance-service
KEYCLOAK_ISSUER_URI=
KEYCLOAK_JWK_SET_URI=