keycloak.cce.mdtlabs.org {
    reverse_proxy localhost:8081 {
        header_up Host {host}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
}

kafka.cce.mdtlabs.org {

    basicauth {
        admin $2a$14$rsGVDRqWceC6PpvK/MLNQes/AQ07g2.ySCwRfyCvtzwQFOJoUl7G.
    }

    reverse_proxy localhost:8080 {
        header_up Host {host}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto https
    }
}

api.cce.mdtlabs.org {
    reverse_proxy localhost:8091 {
        header_up Host {host}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto https
    }
}